head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    z-index: 0;
}

#alert{
    position: absolute;
    top: 30%; /* Changer la valeur pour ajuster la position verticale */
    left: 40%; /* Changer la valeur pour ajuster la position horizontale */
    color: red;
    font-family: Arial;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px white;
    z-index: 50;
    visibility: hidden;
    pointer-events: none;
    overflow: clip;

}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    color: #000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 100;
}